Flask==2.3.2
requests==2.31.0
python-dotenv==1.0.0
Werkzeug==3.0.1
easyocr @ git+https://github.com/JaidedAI/EasyOCR.git@master
PyMuPDF==1.24.9
pymupdf4llm
pytesseract==0.3.10
Pillow==10.0.0
opencv-python==4.8.0.74
numpy==1.25.2
openai